.home-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px 130px;
   
}

.products-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 76px;
   
    justify-content: space-between;
    
}

.category-container{
    width: 100%;
    margin: 40px 0;
   
}