.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1.5rem;
}

.header-container h2{
    color: #3a4895;
}

.cart-item{
    color: #3a4895; 
    font-size: 1.5rem;
}